body,
html {
  margin:0;
  padding:0;
  color:#333;
  background-image: url('images/0.jpg');
  font-family: "Arial", "Times new roman", "宋体";
  font-size: 1em;
  line-height: 1.5em;
}

a {text-decoration: none;color:navy}
a:active{color:navy}
a:visited{color:navy;}
a:hover{color:navy}


#wrap {
  width:750px;
  margin:0 auto;
  background:whitesmoke;
}


#header {
  background-image: url('images/m.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  -moz-background-size:100% 100%;
  margin:0;
  font-size: 2.5em;
  line-height: 2.5em;
  text-align: center;
  font-weight: bold;
  color: white;
}

#header a {
  color: white;
}

@media (max-width: 750px) {
  #wrap {
    width:100%;
    font-size: 0.875em;
    font-size: 1em;
  }

  #header {
  font-size: 2em;
  line-height: 2em;
  font-weight: normal;
  }

}


h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  padding: 0;
  font-weight: bold;
  color: navy;
  -webkit-font-smoothing: antialiased;
}

h1 {
  padding: 0.25em;
}

@media (max-width: 750px) {
  h1 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}


h2:before {
  content: "";
}

img {
  max-width:90%;
}

#main {
  padding: 0.5em;
  background: white;
}

.article {
  padding: 0 0.5em;
  margin-bottom: 1.25em;
  font-size: 1em;
}

.article a {text-decoration: none;color:#FF6600}
.article a:active{color:#FF6600}
.article a:visited{color:#FF6600;}
.article a:hover{color:#FF6600}

.article p {
  text-indent: 2em;
  margin: 5px;
}


.article li{
  /*list-style-position: outside;*/
  /*text-indent: 0.5em;*/
  margin-left: 1em;
}

.article ol,ul {
  margin: 0;
}

ul>li {
  list-style-type:square;
}

.article table {
  width:90%;
  margin: 0 2em;
  border-collapse: collapse;
  border: none;
}

.article td {
  border: solid #000 1px;
}
.article th {
  border: solid #000 1px;
  background-color: lightgray;
}

.code {
  width: 95%;
  height: 200px;
}

.article_date {
  text-align: right;
  border-bottom: 1px solid gray;
  border-top: gray 1px solid;
}

#footer {
  padding:5px 10px;
  background: gray;
  text-align: center;
  color: white;
}

#footer a {
  /*color: #2ba7e1;*/
  color: white;
  font-weight: bold;
}
.pagation {
  text-align: center;
}
.pagation ul {
  list-style:none;
}
.pagation li {
  display:inline;
}
.pagation a {
  color: navy;
}

table {
  border-collapse: collapse;
}

#postlist tr {
  border-bottom: 1px solid lightgray;
}

#postlist tr:hover {
  background-color: #ddd;
}

#postlist td {
  height: 1.5em;
  padding: 3px;
  background: none;
}

.btn {
  background-color:#ededed;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid #a69fa6;
  color:#545154;
  font-size:0.875em;
  font-weight:bold;
  padding:4px 31px;
  text-decoration:none;
}
.btn:hover {
  background-color:#b9bdc9;
}

.btn:active {
  position:relative;
  top:1px;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.pre {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

blockquote {
  background-color: #EEEEEE;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

strong {
  color: red;
  font-weight: normal;
}

#qrcontainer {
  z-index: 99;
  position: absolute;
  padding: 1em;
  display: none;
}

#sharelink {
  text-align: right;
}

.sharelink {
  display: inline-block;
  padding-left: 30px;
  vertical-align: middle;
}

.sharelinkico {
  width:0px;
  height:20px;
  display:inline-block;
}

.hidden {
  display: none;
}

.tags {
  padding: 2px;
  color: orange;
}

.small {
  font-size: 0.875em;
}

.clear {
  clear: both;
}

.dim {
  color: #BBBBBB;
}


pre {
  text-indent: 0;
  background-color: #666;
  color: white;
  padding: 0.5em;
  margin: 1em 2em;
  font-family: "Consolas", "Courier New";
  line-height: 1.125em;
}

.inline-quote {
  background-color: #CCFFCC;
  padding: 0 0.2em;
  margin: 0 0.2em;
}

.image-preview {
  float: left;
  margin:9px;
  width: 100px;
  height:100px;
  border: 1px solid lightgray;
}

input {
  font-size: 1em;
  font-weight: normal;
  width: 99%;
}

textarea {
  font-size: 1em;
  font-weight: normal;
  width: 99%;
}