{% extends template.html %}

{% block header %}
<div id="header"><a href="/">佛山黄灰红</a></div>
{% end %}

{% block body %}
<div>
    <table id="postlist" style="width:100%;">
      <tr style="border-bottom: solid black 1px;">
        <th class="text-left">文章</th>
        {% if auth %}
        <th class="text-center">管理</th>
        <th class="text-center">访问</th>
        {% end %}
      </tr>
      {% for a in aa %}
      <tr class="tr2">
        <td style="width: 600px">
          <a href="/{{param['subblog']}}/{{a[1]}}.html">
            <span {% if a[2] == 1 %} class="dim" {% end %}>{{a[0]}}</span>
          </a>
        </td>
        {% if auth %}
        <td class="text-center small">
          {% if a[2] == 1 %}
            <a href="/{{param['subblog']}}/w/{{a[1]}}?a=s">显</a> |
          {% else %}
            <a href="/{{param['subblog']}}/w/{{a[1]}}?a=h">隐</a> |
          {% end %}
          <a href="/{{param['subblog']}}/w/{{a[1]}}?a=d">删</a>
        </td>
        <td class="text-center small">
           {{a[3]}}
        </td>
        {% end %}
      </tr>
      {% end %}
    </table>
    <div class="pagation">
      <ul>
      <li><a href="#">«</a></li>
      {% for a in range(pages) %}
      <li><a href="?p={{a+1}}">{{a+1}}</a></li>
      {% end %}
      <li><a href="#">»</a></li>
      </ul>
    </div>
</div>

{% end %}