{% extends template.html %}
{% block body %}
<div class="container">
	<div class="row show-grid">
		<div class="span12 whitepanel">
			<form method="post" class="bs-docs-example form-horizontal" id="newform">
				<div>
					<table style="width: 100%;">
						<tr>
							<td colspan="3"><b>标题</b></td>
						</tr>
						<tr>
							<td colspan="3"><input type="text" placeholder="标题" id="title" style="width:99%;" name="title"{% if a != None %} value="{{a.title}}"{% end %}></td>
						</tr>
						<tr>
							<td><b>永久链接</b></td>
							<td><b>发布时间</b></td>
							<td class="text-center"><b>隐藏</b></td>
						</tr>
						<tr>
							<td ><input type="text" placeholder="永久链接" id="link" style="width:95%;" name="link"{% if a != None %} value="{{a.link}}"{% end %}></td>
							<td><input type="text" placeholder="yyyy-mm-dd" id="datetime" name="datetime" {% if a != None %} value="{{a.date}}" {% end %}></td>
							<td style="padding-left: 10px;"><input type="checkbox" id="hide" name="hide" value="1" {% if a != None and a.hide == 1 %} checked="checked"{% end %}></td>
						</tr>
						<tr>
							<td><b>标签（用逗号隔开）</b></td>
						</tr>
						<tr>
							<td colspan="3"><input type="text" placeholder="tags" id="tags" name="tags" value="{% if a != None %} {{ ",".join([x.strip("()") for x in a.tags.split("(")[1:]]) }}{% end %}"></td>
						</tr>
					</table>
				</div>
				<div>
					<b>内容</b>
					<textarea style="height: 300px;" id="content" name="content">{% if a != None %}{{a.content}}{% end %}</textarea>
				</div>

				<div class="text-center">
					<button class="btn" type="button" onclick="document.getElementById('newform').submit();">发&nbsp;布</button>
				</div>

			</form>
		</div>
	</div>
</div>
{% end %}
