{% extends m-template.html %}
{% block title %}
  <title>{{a[0]}}</title>
{% end %}
{% block body %}

{#
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
#}
<script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>

<h2>
  {{a[0]}}
</h2>

<hr style="border-top:1px dashed gray; width: 95%;" >
<div class="text-right tags">
  <span class="tags">{{a[3]}}</span>
  {% for each in a[5].split("(")[1:] %}
    <a class="tags small" href="/geek/tags/{{each.strip("()")}}">{{each.strip("()")}}</a>
  {% end %}
</div>
<div class="article">
  {% raw a[1] %}
</div>

{% end %}



