body {
    /*background-color: #eee;*/
    background: white;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

.label-line {
    display: block;
    padding: 0.5em 1.2em;
    border: 1px solid #ccc;
    font-weight: 400;
    font-size: 28px;
    cursor: pointer;
    color: black;
    background: #eee;
}

.input-line {
    display: block;
    margin: 0.2em 0em;
    width: 100%;
    font-size: 28px;
}

button {
    display: block;
    width: 100%;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 28px;
    margin: 0.2em 0em;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius:15px;
    background-color:#ededed;
    border:1px solid #a69fa6;
}


.error {
    padding: 1em ;
    font-size: 32px;
    line-height: 32px;
    word-wrap:　break-word;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.2em;
    margin: 0.2em 0;
}

th {
    border: 1px solid black;
    color: red;
    text-align: left;
}

td {
    border: 1px solid black;
    padding: 0.2em 0.3em;
    overflow: hidden;
    word-wrap:　break-word;
    word-break: break-all;
}

.log th {
    font-size: 0.5em;
}

.log td {
    font-size: 0.5em;
}

/*
.mobile button {
    display: block;
    width: 100%;
    background: white none repeat scroll 0 0;
    border-color: #ccc #ccc silver;
    border-image: none;
    border-style: solid solid dotted;
    border-width: 1px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0.2em;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
}*/

label.question {
    display: block;
    margin: 0.2em;
    padding: 0.8em 1.2em;
    border: 1px solid #ccc;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 400;
    cursor: pointer;
    color: black;
    background: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-bottom: 1px dotted silver;
    line-height: 28px;
}

label.option {
    display: block;
    margin: 0.2em;
    padding: 0.8em 1.2em;
    border: 1px solid #ccc;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 400;
    cursor: pointer;
    background: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-bottom: 1px dotted silver;
    line-height: 28px;
}

label.option-chosen {
    background-color: yellow;
}


textarea {
    width: 100%;
    margin: auto;
    min-height: 2em;
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}


.wrapper {
    margin: auto;
    width: 98%;
}


.set-option {
    width: 100%;
    margin: 0.5em;
}

.set-option input {
    display: block;
    width: 100%;
    line-height: 3em;
    height: 3em;
}

.set-option-idx {
    width: 2em;
    float: left;
    margin-right: 0.5em;
}

.set-option-txt {
    overflow: hidden;
    margin-right: 1em;
}

.add-answer {
    width: 100%;
    margin: 0.5em;
}

.add-answer input {
    display: block;
    width: 99%;
    line-height: 3em;
    height: 3em;
    margin-right: 1em;
}

.add-test-item h4 {
    font-size: 1.2em;
    margin: 0.5em;
    font-weight: 400;
}

.add-test-item .desc {
    font-size: 0.8em;
    margin: 0.5em;
    color: green;
}

.add-test-item textarea {
    margin: 0.5em;
    min-height: 5em;
    width: 99%;
    margin-right: 1em;
    padding: 0.2em;
}

.clear {
    clear: both;
}

.add-option {
    width: 2em;
    margin-right: 0.5em;
}

.add-option button {
    width: 8em;
    margin-right: 0.5em;
    display: block;
}


.fill {
    margin: 0.5em 0;
}

.fill-hint {
    width: 20em;
    float: left;
    margin-right: 0.5em;

}
.fill-hint input {
    height: 2em;
}
.fill-answer {
    overflow: hidden;
    margin-right: 1em;
}
.fill-answer input {
    height: 2em;
}
