{% extends template.html %}
{% block body %}
<div class="container">
	<div class="row show-grid">
		<div style="width:100%;">
			<form method="post" id="upload" enctype="multipart/form-data" style="margin:10px;">
				<input name="file" type="file" />
				<input class="btn" type="submit" value="上传" />
			</form>
			<div style="clear:both;"></div>
		</div>
		<div>
			{% for file in files %}
			<a href="{{file}}">
			<div class="image-preview" style="background: url('{{file}}') no-repeat center center; background-size: contain;">
			</div>
			</a>
			{% end %}
			<div class="clear"></div>
		</div>
	</div>
</div>
{% end %}
