body,
html {
    margin: 0;
    padding: 0;
    color: #333;
    /*background-image: url('images/0.jpg');*/
    background-color: gray;
    font-family: "Consolas","Arial", "Times new roman", "宋体";
    font-size: 16px;
    line-height: 1.5em;
}


p, blockquote, ul, ol, dl, table, pre {
  margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

h1 {
  font-size: 28px;
  color: #000;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

h2 {
  font-size: 24px;
  color: #000;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  color: #777;
  font-size: 14px;
}

body>h2:first-child, body>h1:first-child, body>h1:first-child+h2, body>h3:first-child, body>h4:first-child, body>h5:first-child, body>h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
  margin-top: 10px;
}

a {
    text-decoration: none;
    color: #259;
}

a:hover {
  text-decoration: underline;
}


ul, ol {
  padding-left: 30px;
}

ul li > :first-child, 
ol li > :first-child, 
ul li ul:first-of-type, 
ol li ol:first-of-type, 
ul li ol:first-of-type, 
ol li ul:first-of-type {
  margin-top: 0px;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

dl dt:first-child {
  padding: 0;
}

dl dt>:first-child {
  margin-top: 0px;
}

dl dt>:last-child {
  margin-bottom: 0px;
}

dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

dl dd>:first-child {
  margin-top: 0px;
}

dl dd>:last-child {
  margin-bottom: 0px;
}


pre, code, tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code, tt {
  margin: 0 0px;
  padding: 0px 0px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

pre>code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}

kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(#F1F1F1, #DDDDDD);
    background-repeat: repeat-x;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 10px;
    padding: 1px 4px;
}

/* QUOTES
=============================================================================*/

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}

blockquote>:first-child {
  margin-top: 0px;
}

blockquote>:last-child {
  margin-bottom: 0px;
}


#wrap {
    width: 750px;
    margin: 0 auto;
    background: whitesmoke;
}

#header {
    text-align: center;
    background-color: #a3b8cc;
    height: 80px;
    line-height: 80px;
    font-size: 48px;
    margin: 0;
    font-family: "仿宋";
}

#header a {
    color: white;
}

.white {
    color: white;
}

.black {
    color: black;
}

img {
    max-width: 90%;
}

#main {
    padding: 10px;
    background: white;
}

.article {
    padding: 0.25em 0.5em;
    margin-bottom: 1.25em;
    font-size: 0.875em;
}

ul>li {
    list-style-type: square;
}

.code {
    width: 95%;
    height: 200px;
}

.article_date {
    text-align: right;
    border-bottom: 1px solid gray;
    border-top: gray 1px solid;
}

#footer {
    padding: 5px 10px;
    background: #a3b8cc;
    text-align: center;
    color: white;
    font-family: "Arial", "Times new roman", "宋体";
    font-size: 16px;
    line-height: 1.5em;
}

#footer a {
    /*color: #2ba7e1;*/
    color: white;
    font-weight: bold;
}

.pagation {
    text-align: center;
}

.pagation ul {
    list-style: none;
}

.pagation li {
    display: inline;
}

.pagation a {
    color: navy;
}

table {
    border-collapse: collapse;
}

#postlist th {
    height: 40px;
}

#postlist tr {
    border-bottom: 1px solid lightgray;
}

#postlist .tr2:hover {
    background-color: #ddd;
}

#postlist td {
    height: 25px;
    background: none;
}

.star {
    color: gray;
}

.btn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #b9bdc9));
    background: -moz-linear-gradient(top, #ededed 5%, #b9bdc9 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #b9bdc9 100%);
    background: -o-linear-gradient(top, #ededed 5%, #b9bdc9 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #b9bdc9 100%);
    background: linear-gradient(to bottom, #ededed 5%, #b9bdc9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#b9bdc9', GradientType=0);
    background-color: #ededed;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #a69fa6;
    display: inline-block;
    cursor: pointer;
    color: #545154;
    font-family: arial;
    font-size: 0.875em;
    font-weight: bold;
    padding: 4px 31px;
    text-decoration: none;
}

.btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b9bdc9), color-stop(1, #ededed));
    background: -moz-linear-gradient(top, #b9bdc9 5%, #ededed 100%);
    background: -webkit-linear-gradient(top, #b9bdc9 5%, #ededed 100%);
    background: -o-linear-gradient(top, #b9bdc9 5%, #ededed 100%);
    background: -ms-linear-gradient(top, #b9bdc9 5%, #ededed 100%);
    background: linear-gradient(to bottom, #b9bdc9 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9bdc9', endColorstr='#ededed', GradientType=0);
    background-color: #b9bdc9;
}

.btn:active {
    position: relative;
    top: 1px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}


.wordwrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

#qrcontainer {
    z-index: 99;
    position: absolute;
    padding: 1em;
    display: none;
}

#sharelink {
    text-align: right;
}

.sharelink {
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
}

.sharelinkico {
    width: 0px;
    height: 20px;
    display: inline-block;
}

.hidden {
    display: none;
}

.tags {
    padding: 2px;
    color: orange;
}
