body,
html {
  margin:0;
  padding:0;
  color:#333;
  background:lightgray;
  font-family: "Arial", "Times new roman", "宋体";
  font-size: 1em;
}



a {text-decoration: none;color:navy}


#wrap {
  margin:0 auto;
  background:whitesmoke;
}
#header {
  padding: 0.25em;
  text-align: center;
  background-color: gray;
  color: white;
}
h1 {
  margin:0;
  font-size: 2em;
  color: white;
}
h2 {
  text-align: left;
  margin:0;
  font-size: 1.375em;
  padding: 5px;
  /*border-bottom: 1px dashed green;*/
}
h3 {
  text-align: left;
  margin:10px 0;
  font-size: 1.25em;
  color: #333;
  padding-left: 10px;
  border-left: 4px solid #aaf;
}
h4 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.125em;
  color: navy;
}
h1 .ainhx {
  color: white;
}
h2 .ainhx {
  color: black;
}
img {
  max-width: 90%;
}

.article a {text-decoration: none;color:#FF6600}
.article {
  padding: 0.25em 0.5em;
  margin-bottom: 1.25em;
}
.article a {
  font-style: italic;
}
.article a:hover {
  text-decoration: underline;
}
.article>p {
  text-indent: 2em;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

strong {
  color: red;
  font-weight: normal;
}

#footer {
  padding:5px 10px;
  background: gray;
  color: white;
}

#footer a {
  /*color: #2ba7e1;*/
  color: white;
  font-weight: bold;
}

.pagation {
  text-align: center;
}
.pagation ul {
  list-style:none;
}
.pagation li {
  display:inline;
  margin: 0 5px;
}
.pagation a {
  color: navy;
}


table {
  border-collapse: collapse;
}

#postlist th {
  text-align: left;
  height: 40px;
}
#postlist tr {
  border-bottom: 1px solid lightgray;
}

#postlist .tr2:hover {
  background-color: #ddd;
}

#postlist td {
  height: 25px;
  background: none;
}

.comment {
  margin: 10px 10px 0 10px;
  border: 1px solid lightgray;
}

.comment_title {
  color: #363;
  /*background-color: #cde;*/
  background-color: lightgray;
  padding: 5px 10px;
}

.comment_body {
  font-size: 0.875em;
  padding: 2px 10px;
}

.star {
  color: gray;
}
.pad-20 {
  padding: 1.25em;
}

.pad-10 {
  padding: 0.625em;
}
.pad-5 {
  padding: 0.3125em;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

blockquote {
  background-color: #DDD;
  padding: 10px;
  margin: 0 10px;
}

blockquote p {
    margin: 0;
    text-indent: 0;
}

.tags {
  padding: 0 0.5em 0 0;
  font-size: 12px;
}

.green {
  color: green;
}

.hidden {
  display: none;
}

.small {
  font-size: 0.875em;
}

.dim {
  color: #BBBBBB;
}

pre {
  text-indent: 0;
  background-color: black;
  color: white;
  padding: 0.5em;
  margin: 0;
  font-family: "Consolas", "Courier New";
  line-height: 1.125em;
}

.inline-quote {
  background-color: #CCFFCC;
  padding: 0 0.2em;
  margin: 0 0.2em;
}