<html>

<head>
    <meta name="description" content="九型性格测试">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>九型性格测试</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url('t9x/9x.css')}}">
    <link rel="icon" type="image/png" href="{{ static_url('images/me.jpg')}}">
    <meta name="share_url" content="https://nossiac.com/9x">
    <meta name="share_channels" content="wechat_friends, wechat_moments, qq">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="msapplication-tap-highlight" content="no">
</head>
<body>
	<!-- <div id="wrapper"> -->
        {% block body %}
        <h1> this is a template page, you should extend it and create your own page. </h1>
        {% end %}
	<!-- </div> -->
	<script src="https://static.baydn.com/baydn/public/xbay/v0.1.21/mobile-tail.js"></script>
</body>

</html>
