{% extends m-template.html %}

{% block title %}
<title>Contribute</title>
<script src="{{ static_url('mustache.min.js')}}"></script>

<script type="text/javascript">
    function add_read_question (argument) {
        alert('添加问题');
    }
</script>
{% end %}

{% block body %}
    <div class="wrapper">
        <form method="post" action="/wx/enc/addtest" autocomplete="off">
            <input type="hidden" value="{{openid}}" name="openid"/>
            <fieldset class="add-test-item">
                <legend>类型</legend>
                <input type="radio" value="choose"  name="type" checked="checked"   onclick="switch_type(this.value)"/> 选择
                <input type="radio" value="spell"   name="type" disabled="disabled" onclick="switch_type(this.value)"/> 拼写
                <input type="radio" value="read"    name="type" disabled="disabled" onclick="switch_type(this.value)"/> 阅读
                <input type="radio" value="listen"  name="type" disabled="disabled" onclick="switch_type(this.value)"/> 听力
                <input type="radio" value="dictate" name="type" disabled="disabled" onclick="switch_type(this.value)"/> 听写
            </fieldset>
            <fieldset class="add-test-item" id="test-field">
            </fieldset>
            <script type="text/x-choose" id="tpl-choose">
                <legend>选择题</legend>
                <h4>问题
                <span class="desc">可以用连续的4个英文下标(____)来表示待填空的部分。</span>
                </h4>
                <textarea name="question" placeholder="Professor Smith, along with his assistants, ____ on the project day and night to meet the deadline.">Professor Smith, along with his assistants, ____ on the project day and night to meet the deadline.</textarea>
                <h4>选项
                <span class="desc">最多4个选项，可以留空。</span>
                </h4>
                <div class="set-option">
                    <div class="set-option-idx">
                        <input type="text" value="A" class="text-center">
                    </div>
                    <div class="set-option-txt">
                        <input type="text" name="A" value="work" placeholder="work">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="set-option">
                    <div class="set-option-idx">
                        <input type="text" value="B" class="text-center">
                    </div>
                    <div class="set-option-txt">
                        <input type="text" name="B" value="working" placeholder="working">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="set-option">
                    <div class="set-option-idx">
                        <input type="text" value="C" class="text-center">
                    </div>
                    <div class="set-option-txt">
                        <input type="text" name="C" value="is working" placeholder="is working">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="set-option">
                    <div class="set-option-idx">
                        <input type="text" value="D" class="text-center">
                    </div>
                    <div class="set-option-txt">
                        <input type="text" name="D" value="are working" placeholder="are working">
                    </div>
                    <div class="clear"></div>
                </div>
                <h4>答案
                <span class="desc">不分大小写。</span>
                </h4>
                <div class="add-answer">
                    <input type="text" name="answer" value="AB" placeholder="AB">
                </div>
                <h4>积分
                <span class="desc">参与即可获得</span>
                </h4>
                <div class="add-answer">
                    <input type="text" name="point" value="1" placeholder="1">
                </div>
            </script>
            <script type="text/x-mustance" id="tpl-read">
                <legend>阅读题</legend>
                <h4>阅读内容</h4>
                <textarea name="yd_text"></textarea>
                <fieldset>
                    <legend>问题</legend>
                    <textarea name="yd_question"></textarea>
                    <div class="set-option">
                        <div class="set-option-idx">
                            <input type="text" value="A" class="text-center">
                        </div>
                        <div class="set-option-txt">
                            <input type="text" name="A" value="">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="set-option">
                        <div class="set-option-idx">
                            <input type="text" value="B" class="text-center">
                        </div>
                        <div class="set-option-txt">
                            <input type="text" name="B" value="">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="set-option">
                        <div class="set-option-idx">
                            <input type="text" value="C" class="text-center">
                        </div>
                        <div class="set-option-txt">
                            <input type="text" name="C" value="">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="set-option">
                        <div class="set-option-idx">
                            <input type="text" value="D" class="text-center">
                        </div>
                        <div class="set-option-txt">
                            <input type="text" name="D" value="">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <h4>答案</h4>
                    <div class="add-answer">
                        <input type="text" name="B" value="">
                    </div>
                </fieldset>
                <div class="set-option">
                    <div class="add-option">
                        <button onclick="add_read_question(this); return false;">添加问题</button>
                    </div>
                </div>
            </script>
            <script type="text/x-mustance" id="tpl-spell">
                <legend>拼写题</legend>
                <span class="desc">说明文字。</span>
                <textarea name="text" placeholder="Write down the plural of the words below."></textarea>
                <span class="desc">左列为题面，右侧为答案。</span>
                <div class="set-option">
                    <div class="fill">
                        <div class="fill-hint">
                            <input value="" name="" placeholder="radio" />
                        </div>
                        <div class="fill-answer">
                            <input value="" name="" placeholder="radios" />
                        </div>
                    </div>
                    <div class="fill">
                        <div class="fill-hint">
                            <input value="" name="" placeholder="tomato" />
                        </div>
                        <div class="fill-answer">
                            <input value="" name="" placeholder="tomatoes" />
                        </div>
                    </div>
                    <div class="fill">
                        <div class="fill-hint">
                            <input value="" name="" placeholder="belief" />
                        </div>
                        <div class="fill-answer">
                            <input value="" name="" placeholder="beliefs" />
                        </div>
                    </div>
                    <div class="fill">
                        <div class="fill-hint">
                            <input value="" name="" placeholder="knife" />
                        </div>
                        <div class="fill-answer">
                            <input value="" name="" placeholder="knives" />
                        </div>
                    </div>
                </div>
            </script>
            <script type="text/x-mustance" id="tpl-listen">
                <legend>听力</legend>
                <h4>说明文字
                <span class="desc">可以用连续的4个英文下标(____)来表示待填空的部分。</span>
                </h4>
                <h4>音频链接
                <span class="desc">暂只接受mp3类型。</span>
                </h4>
                <fieldset>
                    <legend>问题</legend>
                    <textarea name="yd_question"></textarea>
                    <div class="set-option">
                        <div class="set-option-idx">
                            <input type="text" value="A" class="text-center">
                        </div>
                        <div class="set-option-txt">
                            <input type="text" name="A" value="">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="set-option">
                        <div class="set-option-idx">
                            <input type="text" value="B" class="text-center">
                        </div>
                        <div class="set-option-txt">
                            <input type="text" name="B" value="">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="set-option">
                        <div class="set-option-idx">
                            <input type="text" value="C" class="text-center">
                        </div>
                        <div class="set-option-txt">
                            <input type="text" name="C" value="">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="set-option">
                        <div class="set-option-idx">
                            <input type="text" value="D" class="text-center">
                        </div>
                        <div class="set-option-txt">
                            <input type="text" name="D" value="">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <h4>答案</h4>
                    <div class="add-answer">
                        <input type="text" name="B" value="">
                    </div>
                </fieldset>
                <div class="set-option">
                    <div class="add-option">
                        <button onclick="add_read_question(this); return false;">添加问题</button>
                    </div>
                </div>
            </script>
            <script type="text/x-mustance" id="tpl-dictate">
                <legend>听写题</legend>
                <h4>题目
                <span class="desc">写下你听到的。</span>
                </h4>
                <h4>音频链接
                <span class="desc">暂只接受mp3类型。</span>
                </h4>
                <h4>答案
                <span class="desc">暂只接受mp3类型。</span>
                </h4>
                <textarea name="text" placeholder="example: Write down the plural of the words below."></textarea>
            </script>
            <p class="text-center">
                <button class="commit-test-item" type="submit" name="verify" value="1">测试一下</button>
            </p>
        </form>
    </div>

    <script type="text/javascript">
        document.getElementById("test-field").innerHTML = Mustache.render(document.getElementById('tpl-choose').innerHTML)

        function switch_type(type) {
            document.getElementById("test-field").innerHTML = Mustache.render(document.getElementById('tpl-'+type).innerHTML)
        }

    </script>
{% end %}
