{% extends template.html %}

{% block title %}
<title>Register</title>
{% end %}

{% block body %}
    <div class="wrapper text-center">
        <label class="label-line">About Me</label>
        <table class="dump">
            <tr><th>ID    </th><td>{{me[0]}}</td></tr>
            <tr><th>Name  </th><td>{{me[1]}}</td></tr>
            <tr><th>Email </th><td>{{me[2]}}</td></tr>
            <tr><th>Type  </th><td>{{me[3]}}</td></tr>
            <tr><th>Score </th><td>{{me[4]}}</td></tr>
        </table>
    </div>
{% end %}
