{% extends template.html %}

{% block title %}
<title>Homework Preview</title>
{% end %}

{% block body %}
    <div class="wrapper text-center">
        <form method="post" action="/wx/enc/addtest" autocomplete="off">
            <label>{{id}}</label>
            {% module Item(item) %}
            <input type="hidden" name="openid" value="{{openid}}"/>
            <input type="hidden" name="item_json" value="{{item_json}}"/>
            <button onclick="history.go(-1); return false;" >Amend</button>
            <button type="submit" >Submit</button>
        </form>
    </div>
{% end %}
