{% extends template.html %}

{% block title %}
<title>Register</title>
{% end %}

{% block body %}
    <div class="wrapper text-center">
    <form method="post" action="/wx/enc/reg">
        <label class="label-line">Email</label>
        <input type="text" name="email" class="input-line">
        <label class="label-line">Nickname</label>
        <input type="text" name="name" class="input-line">
        <input type="hidden" value="{{openid}}" name="openid">
        <button type="submit">Register</button>
    </form>
    </div>
{% end %}
