{% extends m-template.html %}

{% block title %}
<title>Register</title>
{% end %}

{% block body %}
    <div class="wrapper text-center">
    <form method="post" action="/wx/enc/reg">
        <div><label class="title">Email (xxx@mediatek.com)</label></div>
        <div class="mobile"><input type="text" name="email"></div>
        <div><label class="title">Nickname</label></div>
        <div class="mobile"><input type="text" name="name"></div>
        <div><input type="hidden" value="{{openid}}" name="openid"></div>
        <div class="mobile"><button type="submit">提交</button></div>
    </form>
    </div>
{% end %}
