<html>

<head>
    <meta name="description" content="nossiac">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>注册</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url('wx/enc/enc.css')}}">
    <link rel="icon" type="image/png" href="{{ static_url('images/me.jpg')}}">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="msapplication-tap-highlight" content="no">
</head>
<body>
    <div class="wrapper text-center">
    <form method="post" action="/wx/enc/reg">
        <div><label class="title">Email (xxx@mediatek.com)</label></div>
        <div class="mobile"><input type="text" name="email"></div>
        <div><label class="title">Nickname</label></div>
        <div class="mobile"><input type="text" name="name"></div>
        <div><input type="hidden" value="{{openid}}" name="openid"></div>
        <div class="mobile"><button type="submit">提交</button></div>
    </form>
    </div>
</body>

</html>
