<html>
<head>
    <meta name="description" content="nossiac">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{{ static_url('wx/enc/enc.css')}}">
    <link rel="icon" type="image/png" href="{{ static_url('images/me.jpg')}}">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="msapplication-tap-highlight" content="no">
	{% block title %}
    <title>template</title>
    {% end %}
</head>
<body>
	{% block body %}
    <div class="text-center">
        <p>{{error}}</p>
    </div>
    {% end %}
</body>
</html>
