{% extends template.html %}

{% block title %}
<title>Homework</title>
{% end %}

{% block body %}
    <div class="wrapper text-center">
        <form method="post" autocomplete="off">
            <label>{{id}}</label>
            <input type="hidden" name="openid" value="{{openid}}"/>
            {% if fr %}<input type="hidden" name="fr" value="{{fr}}"/>{% end %}
            {% if to %}<input type="hidden" name="to" value="{{to}}"/>{% end %}
            {% module Item(item) %}
        </form>
    </div>
{% end %}
