<html>

<head>
    <meta name="description" content="nossiac">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>测试来了</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('wx/enc/enc.css')}}">
    <link rel="icon" type="image/png" href="{{ static_url('images/me.jpg')}}">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="msapplication-tap-highlight" content="no">
</head>
<body>
    <div class="wrapper text-center">
        {% if item_json %}
        <form method="post" action="/wx/enc/addtest" autocomplete="off">
        {% else %}
        <form method="post" autocomplete="off">
        {% end %}

            <label>{{qid}}</label>
    		{% module Item(item) %}

            {% if item_json %}
            <input type="hidden" name="item_json" value="{{item_json}}"/>
            <button class="commit-test-item" onclick="history.go(-1); return false;" >再改一下</button>
            <button class="commit-test-item" type="submit" >没问题，提交</button>
            {% else %}
            <button class="commit-test-item" type="submit" >OK</button>
            {% end %}
        </form>
    </div>
</body>

</html>

